
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pt-BR" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pt-BR" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pt-BR" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-BR" class="no-js"> <!--<![endif]-->
    <head>
      <!-- meta character set -->
        <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Luiz Carvalho - Chatbots</title>   
        <meta name="robots" content="noodp"/>
        <link rel="canonical" href="http://izibots.luizcarvalho.com" />
        <meta property="og:locale" content="pt_BR" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Luiz Carvalho - Chatbots para empresas e eventos" />
        <meta property="og:description" content="Nós utilizamos chatbots para aprimorar as conversas entre pessoas e empresas, criando e agregando soluções para proporcionar a melhor experiência para seu cliente" />
        <meta property="og:url" content="http://chatbot.luizcarvalho.com" />
        <meta property="og:site_name" content="Chatbots" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="Nós utilizamos chatbots para aprimorar as conversas entre pessoas e empresas, criando e agregando soluções para proporcionar a melhor experiência para seu cliente" />
        <meta name="twitter:title" content="Luiz Carvalho - Chatbots para empresas e eventos" />
        <meta name="twitter:site" content="@luizcarvalho" />
        <meta name="twitter:creator" content="@luizcarvalho" />
        <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/luizcarvalho.com\/","name":"Luiz Carvalho","potentialAction":{"@type":"SearchAction","target":"http:\/\/luizcarvalho.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
        <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"http:\/\/luizcarvalho.com\/","sameAs":["https:\/\/www.facebook.com\/luizcarvalhobr","https:\/\/www.linkedin.com\/company\/luizcarvalhodev","https:\/\/twitter.com\/luizcarvalho"],"@id":"#organization","name":"Luiz Carvalho","logo":"http:\/\/luizcarvalho.com\/Luiz Carvalho.png"}</script>



    <!-- Meta Description -->
        <meta name="description" content="Criação de Chatbots, aplicativos multi-plataformas em forma de chat">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Luiz Carvalho">
    
    <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CSS
    ================================================== -->
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
  
    <body id="body">
    <%= csrf_meta_tags %>


    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</html>